@maincolor: #FF8020;
@secondarycolor: #30A0FF;
@warning: @maincolor;
@warningstripewidth: 12px;

@textglow: 0 0 16px;
// @boxglow: 0 0 16px 1px;
@boxglow: 0 0 16px;
@boxglowsmall: 0 0 8px;
@hrglow: 0 0 16px 2px;

@transitionspeed: 0.25s;

* {
	box-sizing: border-box;
}

.monospace {
	font-family: "Menlo", "DejaVu Sans Mono", monospace;
}

body {
	// background-color: #F0F0F0;
	padding: 16px;
	
	font-family: sans-serif;
	// text-transform: lowercase;
	// font-variant: small-caps;
	text-transform: uppercase;
	
	text-shadow: @textglow @maincolor;
	
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	
	scrollbar-color: @maincolor black;
}

// @media (prefers-color-scheme: dark) {
body {
	background-color: black;
	color: @maincolor;
}
hr {
	border-color: @maincolor;
	box-shadow: @hrglow @maincolor;
}
// }

.light {
	font-weight: lighter;
}
.link-small {
	font-size: 10pt;
}
.link-black {
	color: inherit;
	&:hover {
		// filter: brightness(150%);
		opacity: 0.7;
	}
}
.link-activebg {
	&:active {
		// background-color: fade(black, 10%);
		// @media (prefers-color-scheme: dark) {
		background-color: fade(white, 20%);
		// }
		border-radius: 4px;
		// make some space around it
		padding: 4px;
		margin: -4px;
	}
}

h1 {
	margin-bottom: 4px;
}

hr {
	border-width: 0.5px;
	margin: 16px;
	padding: none;
}

button {
	height: 32px;
	
	// use our own focus indicator instead
	outline: none;
	&::-moz-focus-inner {
		border: none;
	}
	
	border: none;
	
	// padding: 8px;
	font-size: 11pt;
	// font-weight: bold;
	
	// text-transform: lowercase;
	// font-variant: small-caps;
	text-transform: uppercase;
	
	// reversed color
	background-color: @maincolor;
	color: black;
	box-shadow: @boxglow @maincolor;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
	// transition: @transitionspeed;
	&:focus {
		border: 2px solid @secondarycolor;
		padding: -2px; // counteract the border getting bigger
		box-shadow: @boxglow @secondarycolor;
	}
	&:hover {
		
	}
	&:active {
		background-color: @secondarycolor;
		box-shadow: @boxglow @secondarycolor;
		// transition: @transitionspeed;
	}
}

////////////////

#current-location {
	font-size: 16pt;
	font-weight: lighter;
	#current-system {
		font-weight: bold;
	}
	.current-station-span {
		display: block;
		margin-top: 4px;
		font-size: 11pt;
		font-weight: normal;
		// text-transform: lowercase;
		// font-variant: small-caps;
		color: @secondarycolor;
		text-shadow: @textglow @secondarycolor;
		#current-station {
			font-weight: bold;
		}
	}
}

.controls-container {
	margin-bottom: 16px;
	
	// border: 1px solid @maincolor;
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.segmentedcontrol {
	align-self: stretch;
	margin-left: 16px;
	
	display: flex;
	flex-direction: row;
	align-items: stretch;
	// padding: 4px 8px 4px 8px;
	
	font-size: 11pt;
	// font-weight: bold;
	
	// text-transform: lowercase;
	// font-variant: small-caps;
	
	// background-color: @secondarycolor;
	border: 1px solid @maincolor;
	border-radius: 8px;
	box-shadow: @boxglow @maincolor;
	overflow: hidden; // prevent children sticking out at the corners
	
	&:focus-within {
		border: 1px solid @secondarycolor;
		box-shadow: @boxglow @secondarycolor;
	}
	
	label {
		// padding: 7px 7px 0 7px;
		padding: 0 8px 0 8px;
		border-right: 1px solid @maincolor;
		&:last-child {
			border-right: none;
		}
		
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	input {
		// display: none;
		// visibility: hidden;
		position: absolute;
		opacity: 0;
		&:checked + label {
			background-color: @maincolor;
			color: black;
		}
	}
}

#extendedinfo-table-container {
	width: 100%;
	flex: 0 1 100%;
	overflow: auto;
	
	border: 1px solid @maincolor;
	padding: 1px;
}
#extendedinfo-table {
	margin: 0;
	width: 100%;
	
	border-collapse: collapse;
	// border-style: hidden;
	// border-spacing: 4px 0; // space cells apart
	// border-collapse: separate; // required for border-spacing
	thead {
		td {
			padding: 0;
			// border: none;
			// box-shadow: none; // leave that to the divs
			div {
				box-shadow: 0 0 8px @maincolor;
				// reverse color
				background-color: @maincolor;
				color: black;
				// border: 1px solid black;
				margin: 1px;
				padding: 4px;
			}
			&:first-child div {
				margin-left: none;
			}
		}
	}
	td {
		// box-shadow: @boxglowsmall @maincolor, @boxglowsmall @maincolor inset;
		box-shadow: @boxglowsmall @maincolor;
		padding: 4px;
		// border: 2px solid fade(black, 100%);
		border: 1px solid @maincolor;
		margin: 2px;
		// box-sizing: content-box;
	}
}

#rateLimitIndicator {
	// position: absolute;
	// right: 8px;
	// top: 8px;
	
	display: none;
	
	span {
		text-transform: none; // allow lowercase "s" for seconds
	}
}

#cmdr-details {
	position: absolute;
	right: 8px;
	top: 8px;
	
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	
	#cmdr-name {
		display: none;
		font-size: 12pt;
	}
	#ship-name {
		display: none;
		font-size: 10pt;
		color: @secondarycolor;
	}
}

#sockets-warning {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 32px;
	
	background-color: black;
	// background-color: #00000080;
	// backdrop-filter: blur(4px);
	// -webkit-backdrop-filter: blur(4px);
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	
	transition: visibility 0.5s, opacity 0.5s;
	
	.stripes {
		flex-grow: 1;
		// background-color: #606060;
		background-image: repeating-linear-gradient(135deg, @warning, @warning @warningstripewidth, transparent @warningstripewidth, transparent calc(@warningstripewidth * 2));
		// filter: drop-shadow(0 4px 16px 2px @maincolor);
		// filter: grayscale(100%);
	}
	span {
		flex-grow: 0;
		padding-left: 16px;
		padding-right: 16px;
		
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}

#hudFilterContainer {
	position: absolute;
	width: 0;
	height: 0;
}
