* {
  box-sizing: border-box;
}
body {
  padding: 16px;
  font-family: sans-serif;
}
body {
  background-color: black;
  color: #FFA040;
}
hr {
  border-color: #FFA040;
}
.light {
  font-weight: lighter;
}
.link-small {
  font-size: 10pt;
}
.link-black {
  color: inherit;
}
.link-black:hover {
  opacity: 0.7;
}
.link-activebg:active {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 4px;
  margin: -4px;
}
h1 {
  margin-bottom: 4px;
}
hr {
  border-width: 0.5px;
  margin: 16px;
  padding: none;
}
#current-location {
  font-size: 16pt;
  font-weight: lighter;
}
#current-location #current-system {
  font-weight: bold;
}
#current-location .current-station-span {
  display: block;
  margin-top: 4px;
  font-size: 11pt;
  font-weight: normal;
  text-transform: lowercase;
  font-variant: small-caps;
  color: #A0D0FF;
}
#current-location .current-station-span #current-station {
  font-weight: bold;
}
