* {
  box-sizing: border-box;
}
body {
  padding: 16px;
  font-family: sans-serif;
}
/* @media (prefers-color-scheme: dark) {
	body {
		background-color: #202020;
		color: #E0E0E0;
	}
	hr {
		border-color: #808080;
	}
} */
.light {
  font-weight: lighter;
}
.link-small {
  font-size: 10pt;
}
.link-black {
  color: inherit;
}
.link-black:hover {
  opacity: 0.7;
}
.link-activebg:active {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 4px;
  margin: -4px;
}
@media (prefers-color-scheme: dark) {
  .link-activebg:active {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
h1 {
  margin-bottom: 4px;
}
hr {
  border-width: 0.5px;
  margin: 16px;
  padding: none;
}
.current-location {
  font-size: 16pt;
  font-weight: lighter;
}
.current-location .current-system {
  font-weight: bold;
}
.current-location .current-station-span {
  display: block;
  margin-top: 4px;
  font-size: 11pt;
  text-transform: lowercase;
  font-variant: small-caps;
}
.current-location .current-station-span .current-station {
  font-weight: bold;
}
