* {
  box-sizing: border-box;
}
body {
  padding: 16px;
  font-family: sans-serif;
  text-shadow: 0 0 16px #FF8020;
}
body {
  background-color: black;
  color: #FF8020;
}
hr {
  border-color: #FF8020;
  box-shadow: 0 0 16px #FF8020;
}
.light {
  font-weight: lighter;
}
.link-small {
  font-size: 10pt;
}
.link-black {
  color: inherit;
}
.link-black:hover {
  opacity: 0.7;
}
.link-activebg:active {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 4px;
  margin: -4px;
}
h1 {
  margin-bottom: 4px;
}
hr {
  border-width: 0.5px;
  margin: 16px;
  padding: none;
}
button {
  outline: none;
  border: none;
  padding: 8px;
  font-size: 10pt;
  background-color: #FF8020;
  color: black;
  box-shadow: 0 0 16px #FF8020;
}
button::-moz-focus-inner {
  border: none;
}
button:focus {
  border: 2px solid #30A0FF;
  padding: 6px;
  box-shadow: 0 0 16px #30A0FF;
}
button:active {
  background-color: #30A0FF;
  box-shadow: 0 0 16px #30A0FF;
}
#current-location {
  font-size: 16pt;
  font-weight: lighter;
}
#current-location #current-system {
  font-weight: bold;
}
#current-location .current-station-span {
  display: block;
  margin-top: 4px;
  font-size: 11pt;
  font-weight: normal;
  text-transform: lowercase;
  font-variant: small-caps;
  color: #30A0FF;
  text-shadow: 0 0 16px #30A0FF;
}
#current-location .current-station-span #current-station {
  font-weight: bold;
}
#extendedinfo-fetch-button {
  display: block;
  margin-bottom: 16px;
}
#extendedinfo-table {
  width: 100%;
  border-collapse: collapse;
}
#extendedinfo-table thead td {
  padding: 0;
}
#extendedinfo-table thead td div {
  box-shadow: 0 0 8px #FF8020;
  background-color: #FF8020;
  color: black;
  margin: 1px;
  padding: 4px;
}
#extendedinfo-table thead td:first-child div {
  margin-left: none;
}
#extendedinfo-table td {
  box-shadow: 0 0 8px #FF8020;
  padding: 4px;
  border: 1px solid #FF8020;
  margin: 2px;
}
